@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 162, 232, 0.8);
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    padding-right: 1.5rem;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 162, 232, 0.8);
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 162, 232, 0.8);
}

h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 162, 232, 0.8) !important;
}

h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 162, 232, 0.8);
}


/* Style pour la navbar */

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    background-color: white;
    .navbar-nav .dropdown-item {
        color: white !important;
    }
    .navbar-nav .dropdown-item:hover {
        background-color: rgba(19, 64, 162, 0.7);
    }
}