@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    font-family: "Marcellus", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.9rem;
}

h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}